SMTC_TARGET_APP="deezer.exe"
MAX_CACHE_SIZE=50

CONSOLE_ECHO=0  # 0: off, 1: on
REFRESH_RATE=1  # seconds

OUTPUT_FORMAT="\"{TITLE}\" - {ARTIST} ({CURRENT}/{DURATION})"
EXPORT_FORMAT=0  # 0: local files, 1: local server

# < FILE EXPORT >
OUTPUT_FOLDER="output"
OUTPUT_FILE="track.txt"
OUTPUT_COVER="cover.jpg"

# < LOCAL SERVER >
SERVER_HOST="127.0.0.1"
SERVER_PORT=16053